@import '../util/globals.css';
@import '../components/card/cardComponent.css';
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  font-family: var(--font-family);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 0 5%;
  margin: 0;
  overflow: hidden;
  background-color: var(--color-background);
}

.video-container {
  width: 100vw;
  height: var(--screen-height);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .25s;
}

.video-container.show {
  display: block;
  background-color: #fff;
  opacity: 1;
  z-index: 10;
}

.not-enough-packs {
  color: #de2f22
}

pack-icon {
  position: relative;
  display: flex;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  z-index: 1;
}

#packPlaceholder {
  width: clamp(100px, 20vw, 40vw);
  height: clamp(150px, 30vw, 60vw);
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

side-box {
  position: sticky;
  right: 0;
  height: 100%;
  padding: 3rem;
  background-color: var(--color-background);
  width: fit-content;
  align-content: center;
  text-align: center;
  font-size: 2rem;
}

hr {
  height: 1px;
  border: none;
  background-color: var(--color-text);
  margin: 0.75rem 0;
}

#pull-buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 100%;
}

#pull-buttons button {
  width: clamp(200px, 20vw, 30vw);
  height: clamp(50px, 5vw, 10vw);
  margin: 2%;
  text-align: center;
  cursor: pointer;
  padding: 1rem;
  border-style: none;
  border-radius: 9999px;
  background-color: var(--color-foreground);
  font-size: 1.5rem;
}

.selected,
#pull-buttons button:hover:not(.selected) {
  background-color: var(--color-accent);
  color: white;
  border-color: white;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.popup {
  width: 35rem;
  max-width: 90%;
  height: 100%;
  max-height: 30vh;
  background-color: #fbf6ee;
  padding: 8px;
  text-align: center;
  position: relative;
  border-radius: .8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup-text-container {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-text {
  color: #383b40;
  max-width: 100%;
  font-size: 1.5rem;
}

.yellow {
  color: #dab12d !important;
}

.red {
  color: #de2f22 !important;
}

.popup-button-container {
  display: flex;
  padding: .7rem 0;
  justify-content: space-around;
  position: relative;
  z-index: +1;
  margin-top: auto;
  width: 100%;
}

.popup-button {
  background-color: #4a5265;
  color: var(--color-text);
  border-radius: 40px;
  align-items: center;
  font-size: 1.3rem;
  padding: 0 0 0 .3em;
  max-width: 100%;
  height: 1.6rem;
  position: relative;
  text-align: center;
  border: 1px solid transparent;
  transition: all .2s;
  width: 200px;
}

.popup-button-container button:hover:not(:disabled) {
  background-color: var(--color-accent);
  color: white;
  border-color: white;
}

button:disabled {
  opacity: 0.7;
}