@import '../util/globals.css';
@import '../components/card/cardComponent.css';
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  font-family: var(--font-family);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 0 5%;
  margin: 0;
  overflow: hidden;
  background-color: var(--color-background);
}

.video-container {
  width: 100vw;
  height: var(--screen-height);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .25s;
}

.video-container.show {
  display: block;
  background-color: #fff;
  opacity: 1;
  z-index: 10;
}

.not-enough-packs {
  color: #de2f22
}

pack-icon {
  position: relative;
  display: flex;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  z-index: 1;
}

#packPlaceholder {
  width: clamp(100px, 20vw, 40vw);
  height: clamp(150px, 30vw, 60vw);
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

side-box {
  position: sticky;
  right: 0;
  height: 100%;
  padding: 3rem;
  background-color: var(--color-background);
  width: fit-content;
  align-content: center;
  text-align: center;
  font-size: 2rem;
}

hr {
  height: 1px;
  border: none;
  background-color: var(--color-text);
  margin: 0.75rem 0;
}

#pull-buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 100%;
}

#pull-buttons button {
  width: clamp(200px, 20vw, 30vw);
  height: clamp(50px, 5vw, 10vw);
  margin: 2%;
  text-align: center;
  cursor: pointer;
  padding: 1rem;
  border-style: none;
  border-radius: 9999px;
  background-color: var(--color-foreground);
  font-size: 1.5rem;
}

.selected, #pull-buttons button:hover:not(.selected) {
  background-color: var(--color-accent);
  color: white;
  border-color: white;
}