@import '../util/globals.css';
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  font-family: var(--font-family);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 0 2%;
  margin: 0;
  overflow: auto;
  /* gap: 65px; */
  background-color: var(--color-background);
}

#card-stack {
  /*
  width: 100vw;
  height: 150%;
  z-index: 3;
  */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* overflow: auto; */
  position: relative;
  gap: 40px;
  top: 10px;
  margin-bottom: 12vh;
  /* min-height: 100px; */
  /* margin-bottom: clamp(10vh, 65px, 12vh); */
  /* bottom: 65px; */
  /* padding-bottom: 65px; */
} 

.break {
  flex-basis: 100%;
  height: 0;
}

.card {
  position: relative;
  width: 228px;
  height: 320px;
  transition: transform 0.8s ease, opacity 0.5s ease;
  transform-style: preserve-3d;
  cursor: pointer;
  z-index: 2;
}

.card.facedown {
  transform: rotateY(180deg);
}

.card.flipped {
  transform: rotateY(0deg);
}

.card.flipped:hover {
    transform: scale(1.05);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.card-front {
    background-color: #fff;
}

.card-back {
    background-color: #000000;
    color: white;
    transform: rotateY(180deg);
}

.hidden {
    visibility: hidden;
    transition: transform 0.8s ease, opacity 1.5s ease;
}

.card.dealt {
    opacity: 1;
    pointer-events: auto;
}

/* button */
#continue {
  /* location */
  display: block;
  position: fixed;
  /* margin-top: 10px; */
  bottom: 10px;
  right: 10px;
  z-index: 1000;

  /* style */
  width: 10em;
  height: 3em;
  border-radius: 10px;
  background-color: var(--color-accent);
  border: 3px solid var(--color-accent);
  font-size: large;
  transition-duration: 0.4s;
  cursor: pointer;
}

#continue:hover {
  background-color: var(--color-accent-hover); 
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}