* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  background-color: white;
  border-bottom: 1px solid black;
  padding: 1rem;
  display: flex;
  justify-content: space-between;

}

#header-elem {
    margin-left: 1rem;
    margin-right: 1rem;
}

.wrapper {
    position: relative;
}

#display-area {
  position: relative;
  width: 800px;
  height: 600px;
  border: dashed 2px #ccc;
  overflow: hidden;
}

#card-stack {
    position: absolute;
    top: 5em;
    /* width and height are half of the card size, so the card gets placed in the center of the screen*/
    width: 100%;
    height: 150%;
    z-index: 3;
} 

.card {
  position: absolute;
  width: 200px;
  height: 300px;
  transition: transform 0.8s ease, opacity 0.5s ease;
  transform-style: preserve-3d;
  cursor: pointer;
  z-index: 2;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.card.facedown .card-inner {
  transform: rotateY(180deg);
}

.card.flipped .card-inner {
  transform: rotateY(0deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.card-front {
    background-color: #fff;
}

.card-back {
    background-color: #000000;
    color: white;
    transform: rotateY(180deg);
}

.hidden {
    display: none;
    transition: opacity 0.3s ease;
}

.card.dealt {
  opacity: 1;
  pointer-events: auto;
}

