:root {
	/* Color Palatte */
	--color-background: #141a1c;
	--color-foreground: #373b3d;
	--color-text: #F2F2F2;
	--color-accent: #1574a0;
	--color-accent-hover: #1ca2e1;
	--color-gems: rgb(172, 44, 208);
	--color-packs: rgb(187, 36, 36);

	/* Typography */
	--font-family: 'Turret Road', sans-serif;

	/* Font Sizes */ 
	--font-size-body: 1rem;
	--font-size-title: 3rem;
	--font-size-heading: 2rem;
	--font-size-icon: 2rem;

	/* Font Weights */
	--font-weight-regular: 400;
	--font-weight-bold: 900;

	/* Animation Parameters */
	--transition-time: 0.3s;
	--scale-hover: 1.05;
}